/*Bakgrundsfärger*/
body {
    background-color: #F9F5F0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
footer {
    background-color: #3e3e3e;
    color: #F9F5F0;
}
/*Menyn*/
.headmenu {list-style-type: none; margin: 0; padding: 1em;} 
.headmenu > li {display: inline-block; position: relative;}
.headmenu > li > ul {display: none; position: absolute; top: 100%; list-style-type: none; margin: 0; padding: 0;} 
.headmenu > li:hover > ul {display: block;} 
.headmenu a {text-decoration: none;}  
.headmenu > li > ul > li:hover {background-color:white;} 
/*Färger för länkarna vid olika tillfällen*/ 
a:link{color: #3e3e3e;}  
a:visited{color: #3e3e3e;} 
a:hover{color: #3e3e3e;} 
a:active{color: #3e3e3e;} 
.product1_link, .product2_link, .product3_link, .product4_link, .product5_link {
    text-decoration: none;
}
@media (max-width:1024px) {
    /* Media queries sÃ¥ att hamburgarmenyn endast visas fÃ¶r mindre skÃ¤rmar*/
    /* CSS fÃ¶r hamburgermenyn*/
    nav {
        background-color: #B87333;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
        font-size: 1.4em;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 250px;
        display: none;
        overflow-x: hidden;
    }
    nav ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
    nav li {
        padding: 0.8em 0;
        width: 100%;
    }
    nav a {
        color: #3e3e3e;
        text-decoration: none;
        padding: 0 1em;
        font-size: x-large;
    }
    nav li:hover {
        background-color: #B87333;
        cursor: pointer;
    }
    /* Meny kanpp, öppna meny*/
    .menu-btn {
        display: flex;
        align-items: center;
        padding: 8px 15px;
        background-color: #B87333;
        border: #3e3e3e solid 2px;
        cursor: pointer;
        float: right;
        width: 140px;
    }
    .open {
        margin: 0 1em;
    }
    #open-menu {
        position: absolute;
        right: 2em;
        top: 2em;
    }
    /* CSS för hamburger-icon*/
    .bars {
        display: block;
        width: 20px;
        height: 3px;
        background-color: #3e3e3e;
        margin: 5px 0;
    }
    .menutext {
        font-size: 1.2em;
        color: #3e3e3e;
    }
    /* Meny knapp, stäng*/
    .close {
        margin: 2em 2em;
        padding: 10px 15px;
    }
    /* Skapa kryss*/
    .cross1 {
        width: 25px;
        transform: rotate(45deg);
        position: relative;
        top: 5px;
    }
    .cross2 {
        width: 25px;
        transform: rotate(135deg);
        position: relative;
        top: -3px;
    }
    }
    @media (min-width: 1025px) {
        .menu-btn {display: none;}/*Dölj knapp*/
        body {
            display: grid;
            grid-template-areas: 
            "header"
            "main"
            "footer";
            grid-template-rows: auto;
        }
        .header {
            grid-area: header;
            display: grid;
            grid-template-areas: 
            "name menu";
            grid-template-rows: auto;
            align-items: center;
            width: 100vw;
        }
        h1 {
            grid-area: name;
            margin-left: 3em;
            margin-top: 1.5em;
            color: #3e3e3e;
        }
        .headmenu {
            grid-area: menu;
            margin-top: 1.5em;
        }
        .menu {
            grid-area: menu;
            float: right;
            line-height: 35px;
            text-align: center;
        }
        li {
            margin-left: 2em;
            font-size: large;
        }
        .basket {
            width: 30px;
            height: 30px;
            justify-content: center;
            align-items: center;
        }
        .main {
            grid-area: main;
            display: grid;
            grid-template-areas: 
            "aboutmeheader aboutmeheader"
            "img infotext";
            grid-template-rows: auto;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .aboutmeheader {
            grid-area: aboutmeheader;
            font-size: xx-large;
            margin-bottom: 2em;
            text-align: center;
        }
        .portratt {
            grid-area: img;
            margin: 2em;
        }
        .portrattimg {
            border-radius: 50%;
            max-width: 500px;
            width: 100%;
        }
        .text {
            grid-area: infotext
        }
        .infotext {
            max-width: 500px;
            width: 100%;
            text-align: left;
            font-size: large;
            margin: auto;
            margin-bottom: 3em;
            padding: 2em;
        }
        .footer {
            grid-area: footer;
            display: grid;
            grid-template-areas: 
            "contact adress";
            grid-template-rows: auto;
            grid-template-columns: max-content max-content;
            width: 100vw;
            column-gap: 100px;
            font-size: large;
            margin: 0;
        }
        .contact {
            grid-area: contact;
            display: flex;
            flex-direction: column;
            gap: 0.2em; 
            margin: 0;
            padding: 3em;
        }
        .mailrow, .phonerow {
            display: flex;
            align-items: center;
            gap: 0.3em;
        }
        .mail, .phone {
            width: 30px;
            height: 30px;
        }
        .contactinfo, .mailinfo, .phonenr, .adress {margin: 0;}
        .adressinfo {
            grid-area: adress;
            align-self: start;
            padding: 3em;
        }
        .street {
            font-size: large;
            line-height: 2.2; 
            margin-top: 0.3em;
          }
        }
        @media (min-width: 601px) and (max-width: 1024px) {
            body {
                display: grid;
                grid-template-areas: 
                "header"
                "main"
                "footer";
                grid-template-rows: auto;
            }
            .header {
                grid-area: header;
                display: grid;
                grid-template-areas: 
                "name menu";
                grid-template-rows: auto;
                align-items: center;
                width: 100vw;
            }
            h1 {
                grid-area: name;
                margin-left: 3em;
                margin-top: 1.5em;
                color: #3e3e3e;
            }
            .headmenu {
                grid-area: menu;
                margin-top: 1.5em;
            }
            .menu {
                grid-area: menu;
                float: right;
                line-height: 35px;
                text-align: center;
            }
            li {
                font-size: large;
            }
            .basket {
                width: 30px;
                height: 30px;
                justify-content: center;
                align-items: center;
            }
            .main {
                grid-area: main;
                display: grid;
                grid-template-areas: 
                "aboutmeheader aboutmeheader"
                "img infotext";
                grid-template-rows: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .aboutmeheader {
                grid-area: aboutmeheader;
                font-size: xx-large;
                margin-bottom: 2em;
                text-align: center;
            }
            .portratt {
                grid-area: img;
                margin: 2em;
            }
            .portrattimg {
                border-radius: 50%;
                max-width: 400px;
                width: 100%;
            }
            .text {
                grid-area: infotext
            }
            .infotext {
                max-width: 400px;
                width: 100%;
                text-align: left;
                font-size: large;
                margin: auto;
                margin-bottom: 3em;
                padding: 2em;
            }
            .footer {
                grid-area: footer;
                display: grid;
                grid-template-areas: 
                "contact adress";
                grid-template-rows: auto;
                grid-template-columns: max-content max-content;
                width: 100vw;
                column-gap: 30px;
                font-size: large;
                margin: 0;
            }
            .contact {
                grid-area: contact;
                display: flex;
                flex-direction: column;
                gap: 0.2em; 
                margin: 0;
                padding: 2em;
            }
            .mailrow, .phonerow {
                display: flex;
                align-items: center;
                gap: 0.3em;
            }
            .mail, .phone {
                width: 30px;
                height: 30px;
            }
            .contactinfo, .mailinfo, .phonenr, .adress {margin: 0;}
            .adressinfo {
                grid-area: adress;
                align-self: start;
                padding: 2em;
            }
            .street {
                font-size: large;
                line-height: 2.2; 
                margin-top: 0.3em;
              }
        }
        @media (max-width: 600px) {
            body {
                display: grid;
                grid-template-areas: 
                "header"
                "main"
                "footer";
                grid-template-rows: auto;
            }
            .header {
                grid-area: header;
                display: grid;
                grid-template-areas: 
                "name menu";
                grid-template-rows: auto;
                align-items: center;
                width: 100vw;
            }
            h1 {
                grid-area: name;
                margin-left: 1em;
                margin-top: 1em;
                color: #3e3e3e;
            }
            .headmenu {
                grid-area: menu;
                margin-top: 1.5em;
            }
            .menu {
                grid-area: menu;
                float: right;
                line-height: 35px;
                text-align: center;
                z-index: 1000; /*Placera menyn överst*/
            }
            li {
                font-size: large;
            }
            .basket {
                width: 30px;
                height: 30px;
                justify-content: center;
                align-items: center;
            }
            .main {
                grid-area: main;
                display: grid;
                grid-template-areas: 
                "aboutmeheader"
                "img"
                "infotext";
                grid-template-rows: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .aboutmeheader {
                grid-area: aboutmeheader;
                font-size: xx-large;
                margin-bottom: 2em;
                text-align: center;
            }
            .portratt {
                grid-area: img;
                margin: 2em;
            }
            .portrattimg {
                border-radius: 50%;
                max-width: 300px;
                width: 100%;
            }
            .text {
                grid-area: infotext
            }
            .infotext {
                max-width: 400px;
                width: 100%;
                text-align: left;
                font-size: large;
                margin: auto;
                margin-bottom: 3em;
                padding: 2em;
            }
            .footer {
                grid-area: footer;
                display: grid;
                grid-template-areas: 
                "contact adress";
                grid-template-rows: auto;
                grid-template-columns: max-content max-content;
                width: 100vw;
                column-gap: 30px;
                font-size: medium;
                margin: 0;
            }
            .contact {
                grid-area: contact;
                display: flex;
                flex-direction: column;
                gap: 0.2em; 
                margin: 0;
                padding: 2em;
            }
            .mailrow, .phonerow {
                display: flex;
                align-items: center;
            }
            .mail, .phone {
                width: 30px;
                height: 30px;
            }
            .contactinfo, .mailinfo, .phonenr, .adress {margin: 0;}
            .adressinfo {
                grid-area: adress;
                align-self: start;
                padding: 2em;
            }
            .street {
                font-size: medium;
                line-height: 2.2; 
                margin-top: 0.3em;
              }
            }