/*Bakgrundsfärger*/
body {
    background-color: #F9F5F0;
    margin: 0;
}
.main {
    background-color: #8B5E3C;
    color: #F9F5F0;
}
.productsbutton {
    background-color: #B87333;
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    display: block;
    text-align: center;
    padding: 1em;
    font-size: large;
    text-decoration: none;
}
footer {
    background-color: #3e3e3e;
    color: #F9F5F0;
}
/*Menyn*/
.headmenu {list-style-type: none; margin: 0; padding: 1em;} 
.headmenu > li {display: inline-block; position: relative;}
.headmenu > li > ul {display: none; position: absolute; top: 100%; list-style-type: none; margin: 0; padding: 0;} 
.headmenu > li:hover > ul {display: block;} 
.headmenu a {text-decoration: none;}  
.headmenu > li > ul > li:hover {background-color:white;} 
/*Färger för länkarna vid olika tillfällen*/ 
a:link{color: #3e3e3e;}  
a:visited{color: #3e3e3e;} 
a:hover{color: #3e3e3e;} 
a:active{color: #3e3e3e;} 
/*Avvikande css för knapp-länk*/
.productsbutton:link {color: #F9F5F0;}
.productsbutton:visited{color: #F9F5F0;} 
.productsbutton:hover{color: #F9F5F0;} 
.productsbutton:active{color: #F9F5F0;} 
/*Länk i footer*/
.infoaboutme a:link {color: #F9F5F0;}
.infoaboutme a:visited{color: #F9F5F0;} 
.infoaboutme a:hover{color: #F9F5F0;} 
.infoaboutme a:active{color: #F9F5F0;} 
@media (max-width:1024px) {
    /* Media queries sÃ¥ att hamburgarmenyn endast visas fÃ¶r mindre skÃ¤rmar*/
    /* CSS fÃ¶r hamburgermenyn*/
    nav {
        background-color: #B87333;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
        font-size: 1.4em;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 250px;
        display: none;
        overflow-x: hidden;
    }
    nav ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
    nav li {
        padding: 0.8em 0;
        width: 100%;
    }
    nav a {
        color: #3e3e3e;
        text-decoration: none;
        padding: 0 1em;
        font-size: x-large;
    }
    nav li:hover {
        background-color: #B87333;
        cursor: pointer;
    }
    /* Meny kanpp, öppna meny*/
    .menu-btn {
        display: flex;
        align-items: center;
        padding: 8px 15px;
        background-color: #B87333;
        border: #3e3e3e solid 2px;
        cursor: pointer;
        float: right;
        width: 140px;
    }
    .open {
        margin: 0 1em;
    }
    #open-menu {
        position: absolute;
        right: 2em;
        top: 2em;
    }
    /* CSS för hamburger-icon*/
    .bars {
        display: block;
        width: 20px;
        height: 3px;
        background-color: #3e3e3e;
        margin: 5px 0;
    }
    .menutext {
        font-size: 1.2em;
        color: #3e3e3e;
    }
    /* Meny knapp, stäng*/
    .close {
        margin: 2em 2em;
        padding: 10px 15px;
    }
    /* Skapa kryss*/
    .cross1 {
        width: 25px;
        transform: rotate(45deg);
        position: relative;
        top: 5px;
    }
    .cross2 {
        width: 25px;
        transform: rotate(135deg);
        position: relative;
        top: -3px;
    }
    }
    @media (min-width: 1025px) {
        .menu-btn {display: none;}/*Dölj knapp*/
        body {
            display: grid;
            grid-template-areas: 
            "header"
            "main"
            "footer";
            grid-template-rows: auto;
        }
        .header {
            grid-area: header;
            display: grid;
            grid-template-areas: 
            "name menu";
            grid-template-rows: auto;
            align-items: center;
            width: 100vw;
        }
        h1 {
            grid-area: name;
            margin-left: 3em;
            margin-top: 1.5em;
            color: #3e3e3e;
        }
        .headmenu {
            grid-area: menu;
            margin-top: 1.5em;
        }
        .menu {
            grid-area: menu;
            float: right;
            line-height: 35px;
            text-align: center;
        }
        li {
            margin-left: 2em;
            font-size: large;
        }
        .basket {
            width: 30px;
            height: 30px;
            justify-content: center;
            align-items: center;
        }
        .main {
            position: relative;
            min-width: 1025px;
            margin: 0 auto;
        }
        .backgroundvideo {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1000; 
            display: block;
            opacity: 0.4; /*Genomskinlighet*/
          }
          .video {
            position: relative;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
          }
              /* Lägg texten ovanpå bilden */
              .text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                padding: 1rem;
                z-index: 2000;
                width: 90%;
              }
              .firsttext {
                font-size: 48px;
                max-width: 350px;
                width: 100%;
                text-align: left;
                margin-left: 125px;
                margin-right: auto;
                margin-bottom: 1em;
              }
              .secondtext {
                font-size: 20px;
                max-width: 280px;
                width: 100%;
                margin-left: 125px;
                margin-right: auto;
                text-align: left;
              }
              .productsbutton {
                display: inline-block;
                margin-top: 5em;
              }
        .footer {
            grid-area: footer;
            display: grid;
            grid-template-areas: 
            "contact adress aboutme";
            grid-template-rows: auto;
            grid-template-columns: max-content max-content;
            width: 100vw;
            column-gap: 100px;
            font-size: large;
            margin: 0;
        }
        .contact {
            grid-area: contact;
            display: flex;
            flex-direction: column;
            gap: 0.2em; 
            margin: 0;
            padding: 3em;
        }
        .mailrow, .phonerow {
            display: flex;
            align-items: center;
            gap: 0.3em;
        }
        .mail, .phone {
            width: 30px;
            height: 30px;
        }
        .contactinfo, .mailinfo, .phonenr, .adress {margin: 0;}
        .adressinfo {
            grid-area: adress;
            align-self: start;
            padding: 3em;
        }
        .street {
            font-size: large;
            line-height: 2.2; 
            margin-top: 0.3em;
          }
        .infoaboutme {
            grid-area: aboutme;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-size: xx-large;
        }
        }
        @media (min-width: 601px) and (max-width: 1024px) {
            body {
                display: grid;
                grid-template-areas: 
                "header"
                "main"
                "footer";
                grid-template-rows: auto;
            }
            .header {
                grid-area: header;
                display: grid;
                grid-template-areas: 
                "name menu";
                grid-template-rows: auto;
                align-items: center;
                width: 100vw;
            }
            h1 {
                grid-area: name;
                margin-left: 3em;
                margin-top: 1.5em;
                color: #3e3e3e;
            }
            .headmenu {
                grid-area: menu;
                margin-top: 1.5em;
            }
            .menu {
                grid-area: menu;
                float: right;
                line-height: 35px;
                text-align: center;
                z-index: 9999;
            }
            li {
                font-size: large;
            }
            .basket {
                width: 30px;
                height: 30px;
                justify-content: center;
                align-items: center;
            }
            .main {
                position: relative;
                margin: 0 auto;
            }
            .backgroundvideo {
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100%;
                object-fit: cover;
                z-index: 1000; 
                display: block;
                opacity: 0.4; /*Genomskinlighet*/
                overflow: hidden;
              }
              .video {
                position: relative;
                width: 100vw;
                height: 100vh;
                overflow: hidden;
              }
                  /* Lägg texten ovanpå bilden */
                  .text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    padding: 1rem;
                    z-index: 2000;
                    width: 90%;
                  }
                  .firsttext {
                    font-size: 48px;
                    max-width: 350px;
                    width: 100%;
                    text-align: left;
                    margin-left: 125px;
                    margin-right: auto;
                    margin-bottom: 1em;
                  }
                  .secondtext {
                    font-size: 20px;
                    max-width: 280px;
                    width: 100%;
                    margin-left: 125px;
                    margin-right: auto;
                    text-align: left;
                  }
                  .productsbutton {
                    display: inline-block;
                    margin-top: 5em;
                  }
            .footer {
                grid-area: footer;
                display: grid;
                grid-template-areas: 
                "contact adress aboutme";
                grid-template-rows: auto;
                grid-template-columns: max-content max-content;
                width: 100vw;
                column-gap: 1em;
                font-size: large;
                margin: 0;
            }
            .contact {
                grid-area: contact;
                display: flex;
                flex-direction: column;
                gap: 0.2em; 
                margin: 0;
                padding: 2em;
            }
            .mailrow, .phonerow {
                display: flex;
                align-items: center;
                gap: 0.3em;
            }
            .mail, .phone {
                width: 30px;
                height: 30px;
            }
            .contactinfo, .mailinfo, .phonenr, .adress {margin: 0;}
            .adressinfo {
                grid-area: adress;
                align-self: start;
                padding: 2em;
            }
            .street {
                font-size: large;
                line-height: 2.2; 
                margin-top: 0.3em;
              }
              .infoaboutme {
                grid-area: aboutme;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                font-size: x-large;
            }
        }
        @media (max-width: 600px) {
            body {
                display: grid;
                grid-template-areas: 
                "header"
                "main"
                "footer";
                grid-template-rows: auto;
            }
            .header {
                grid-area: header;
                display: grid;
                grid-template-areas: 
                "name menu";
                grid-template-rows: auto;
                align-items: center;
                width: 100vw;
            }
            h1 {
                grid-area: name;
                margin-left: 1em;
                margin-top: 1em;
                color: #3e3e3e;
            }
            .headmenu {
                grid-area: menu;
                margin-top: 1.5em;
            }
            .menu {
                grid-area: menu;
                float: right;
                line-height: 35px;
                text-align: center;
                z-index: 9999; /*Placera menyn överst*/
            }
            li {
                font-size: large;
            }
            .basket {
                width: 30px;
                height: 30px;
                justify-content: center;
                align-items: center;
            }
            .main {
                position: relative;
                max-width: 600px;
                margin: 0 auto;
            }
            .backgroundvideo {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1000; 
                display: block;
                opacity: 0.4; /*Genomskinlighet*/
                overflow: hidden;
              }
              .video {
                position: relative;
                width: 100vw;
                height: 100vh;
                overflow: hidden;
              }
                  /* Lägg texten ovanpå bilden */
                  .text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    padding: 1rem;
                    z-index: 1000;
                    width: 90%;
                  }
                  .firsttext {
                    font-size: 48px;
                    max-width: 350px;
                    width: 100%;
                    text-align: left;
                    margin-left: 125px;
                    margin-right: auto;
                    margin-bottom: 1em;
                  }
                  .secondtext {
                    font-size: 20px;
                    max-width: 280px;
                    width: 100%;
                    margin-left: 125px;
                    margin-right: auto;
                    text-align: left;
                  }
                  .productsbutton {
                    display: inline-block;
                    margin-top: 5em;
                  }
            .footer {
                grid-area: footer;
                display: grid;
                grid-template-areas: 
                "contact adress"
                "aboutme aboutme";
                grid-template-rows: auto;
                grid-template-columns: max-content max-content;
                width: 100vw;
                column-gap: 30px;
                font-size: medium;
                margin: 0;
            }
            .contact {
                grid-area: contact;
                display: flex;
                flex-direction: column;
                gap: 0.2em; 
                margin: 0;
                padding: 2em;
            }
            .mailrow, .phonerow {
                display: flex;
                align-items: center;
            }
            .mail, .phone {
                width: 30px;
                height: 30px;
            }
            .contactinfo, .mailinfo, .phonenr, .adress {margin: 0;}
            .adressinfo {
                grid-area: adress;
                align-self: start;
                padding: 2em;
            }
            .street {
                font-size: medium;
                line-height: 2.2; 
                margin-top: 0.3em;
              }
              .infoaboutme {
                grid-area: aboutme;
                text-align: center;
                justify-self: center;
                font-size: xx-large;
                margin-bottom: 2em;
                width: 100%;
            }
            }